
@import url('https://fonts.googleapis.com/css?family=Cuprum|Lato|Raleway')

body{
background-color:#f2f2f2;
font-family: "Lato";
font-weight:300;
font-size:16px;
color:#555;

-webkit-font-smoothing:antialiased;
-webkit-overflow-scrolling:touch;

margin-top:70px;
}

h1, h2, h3, h4, h5, h6{
font-family: "Lato", sans-serif !important;
font-weight:300px;
color: #333;
}

p{
line-height:28px;
margin-bottom:25px;
}

.contered{
text-align:center;
}

a{
color:#red;
}

a:hover, a:focus{
text-decoration:none;
outline:0;
}


hr{
display:block;
height:1px;
border:0;
border-top:1px solid #ccc;
margin:1em 0;
padding:0;
}

.navbar{
font-weight:800px;
font-size:14px;
padding-top:15px;
padding-bottom:15px;

}

.navbar-inverse{
background:#2d2d2d;
border-color:#2d2d2d;
}

.navbar-inverse .navbar-nav a.active{
background-color:#ff7878;
padding:2px;
}

.navbar-inverse .navbar-brand {
color:#999;
font-weight:bolder;
font-size:22px;
letter-spacing:1px;

}

#headerwrap{
background:url(../img/bread1.jpg) no-repeat center top;
background-color:#FF7878;
margin-top:-10px;
padding-top:20px;
text-align:center;
background-attachment:relative;
background-position:center center;
min-height:500px;
width:100%;
font-family: "Lato";

-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
}

#headerwrap h1{
margin-top:100px;
color:white;
font-size:70px;
font-weight:300;
letter-spacing:3px;
}

#headerwrap h2{
color:white;
font-size:40px;
letter-spacing:2px;
text-transform:uppercase;
}

.w{
padding-top:35px;
text-align:center;
word-wrap: break-word;
}

.w h4{
font-size:25px;
}

#dg{
background:#e0e0e0;
padding-top:70px;
padding-bottom:70px;
text-align:center;
}

#dg h4{
font-size:40px;
}

.tilt{
-webkit-transition:all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
}

.tilt:hover{
-webkit-transform: rotate(-10deg);
-moz-transform: rotate(-10deg);
-o-transform: rotate(-10deg);
-ms-transform: rotate(-10deg);
transform: rotate(-10deg);
}

.wb{
padding-top:35px;
text-align:center;
}

.wb h4 {
font-size:40px;
}
.wb p{
font-size:25px;
}

#lg{
background:#ffffff;
padding-top:70px;
padding-bottom:70px;
text-align:center;
}

#lg h4{
font-size:45px;
}

#r{
background:#FF7878;
padding-top:60px;
padding-bottom:70px;
text-align:center;
color:#2D2D2D;

}

#r h4{
color:#2D2D2D;
font-size:40px;
padding-bottom:20px;
}

#r ul{
color:#2D2D2D;
font-size:18px;
text-align:left;
}

#r li{
text-align:left;
}

#f
{padding-top:30px;
padding-bottom:20px;
background:#2d2d2d;
text-align:center;
}

.img-responsive{
box-shadow:0 0 20px #747474;
}

#f i{
color:#bdbdbd;
font-size:30px;
padding:20px;
}

#f i:hover{
color:#ff7878;
}




























